@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    margin: 0;
    min-width: 1100px;
}

#title {
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', cursive;
    font-size: 40px;
    margin: 0;
}

#current {
    border-bottom: 3px solid #2ecc71;
}

.nav {
    display: inline-block;
    margin: 20px;
}

.nav:first-of-type {
    margin-left: 70%;
}

.nav a {
    text-decoration: none;
    color: black;
}

hr {
    margin: 0
}

h3 {
    border-bottom: 1px solid gray;
    width: 300px;
}

header {
    margin: 0;
    position: relative
}

section, aside {
    display: flex;
    height: 80vh;
    float: left;
    border-bottom: 1px solid black;
}

section {
    width: 60%;
    align-items: center;
    flex-direction: column;
}

section h1 {
    margin-top: 150px;
}

section p {
    width: 500px;
}

aside {
    width: 40%;
    justify-content: center;
}

form {
    margin: 20px;
    padding: 30px 100px;
    border: 1px solid gray;
    border-radius: 10px;
}

div input {
    margin: 5px 0 15px;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(236, 240, 241, 0.9);
    padding: 5px;
}

input:focus {
    outline:0
}

.require-mark {
    color: red;
}

.btn {
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    transition: border 0.5s;
}

.btn:hover {
    border: none
}

#signup, #login {
    background-color: #2ecc71;
}

#cancel {
    background-color: #e74c3c;
}